/*-----------------------
        COLORS
------------------------*/
.bg-49D5D0{ background-color: #49D5D0; }
.bg-ACEDED{ background-color: #ACEDED; }

.borderRed { border: 2px solid red; }
.borderGreen { border: 2px solid green; }

/*-----------------------
        BGs
------------------------*/
.bg-kiwi { background-image: url('../bg/kiwi.jpg'); }
.bg-lightblue-flowers { background-image: url('../bg/lightblue_flowers.jpg'); }
.bg-ocean { background-image: url('../bg/ocean.jpg'); }
.bg-red-roses { background-image: url('../bg/red_roses.jpg'); }
.bg-sunflower { background-image: url('../bg/sunflower.jpg'); }
.bg-violet-flowers { background-image: url('../bg/violet_flowers.jpg'); }